/* You should edit the content below to fit your website */

* {
	font-family: Georgia, Garamond, sans-serif;
	color: #5A6869;
	text-align: center;
	background-color: #CADDDB;
}

body {
	width:960px;
	margin:0 auto;
}
h1 {
	font-family: Garamond;
	font-color: #364142;
}
nav {background-color: #CADDDB;
	padding: 10px;
	margin: 10px;
	border-style: solid;
	border-color: #364142
}
a {color:#213ABF;
text-decoration: underline;}

li {
	display: inline;
	padding: 5px;
}

section {
	overflow: auto;
	height:100%;
}
main {background-color: #CADDDB;
	padding: 5px;
	margin: 10px;
	border-style: solid;
	border-color: #364142	
}
p {
	font-family: Georgia;
}
article {background-color:#CADDDB;
	padding: 5px;
	margin: 10px;
	width: 445px;
	height: 300px;
	float: left;
	border-color: #5A6869;
	border-style: solid;
}
h3 {
	font-family: Georgia;
}
dt { 
font-weight:bold;
text-decoration: underline;
 }
dd {
	margin: 0;
	padding: 0 0 0.5em 0;
}
.mart {
	background-color: #CADDDB;
	border: none;
	padding: 3px;
}
.mart2 {
	display:block;
	font-size: 18px;
}
.mart3 {
	width: 275px;
	padding: 10px;
	height: 270px;
}
.mart4 {
	display: block;
}
.mart5 {
	border: none;
	width: 275px;
	padding: 10px;
	height: 270px;
}
.mart6
{text-decoration: underline;
color: #5A6869
}

.mart7 {
	width: 275px;
	padding: 10px;
	height: 400px;
}
.mart8 {
	border: none;
	width: 275px;
	padding: 10px;
	height: 400px;
}
.mart9 {
	border: solid;
	width: 445px;
	height: 240px;
	font-size: 19px;
}